fastapi
uvicorn[standard]
transformers
torch
sentencepiece
numpy
python-multipart
pydantic
accelerate
beautifulsoup4
lxml
protobuf
boto3
requests
regex
sacremoses
torchvision  # Optional but useful for some transformer-based models
